@media (min-width:0px) and (max-width:359px){}
@media (min-width:360px) and (max-width:480px){}
@media (min-width:481px) and (max-width:567px){}
@media (min-width:568px) and (max-width:767px){}
@media (min-width:768px){

}
@media (min-width:993px){




}
@media (min-width:993px) and (max-width:1200px){



}

@media (min-width:1201px) and (max-width:1300px){





}


@media only screen and (max-width : 992px) {


#wrapper .sidenav-fixed + .content-wrapper {
    padding-left: 0 !important;
}
.sidenav{
    width: 100%;
    max-width: 277px;
}
#wrapper .sidenav li a i{
    display: inline;
    width: auto;
    float: left;
}
#wrapper .sidenav li a{
    text-align: left;
    line-height: 31px;
}
#wrapper .navTop .brand-logo{
    float: left;
    width: auto;
    left: 0;
    position: relative;
    transform: translateX(0%);
    line-height: 64px;
    height: 64px;
}
#wrapper .mobileSideMenu{
    color: black;
    margin: 0;
    display: block !important;
}
#wrapper .navTop .sidenav-trigger i,
#wrapper .navTop .mobileSideMenu i{
    line-height: 64px;
    height: 64px;
}
#wrapper .dropdown-content{
    min-width: fit-content;
}

.logForm .input-field {
    margin: 7px auto;
    float: none;
}

.highcharts-root{
    width: 100%;
    height: auto;   
}
.addlistBtn i{
    margin-left: 10px;
}
#wrapper .sidenav{
    top: 0;
}

.pageNavigation{
    display: ;
}
#wrapper .fullScreen, #wrapper .ShowfullScreen{
    display: none;
}
.highcharts-container {
    width: 100% !important;
    height: auto !important;
}
#header{
    z-index: 997;
}
#wrapper .dropdown-content li>a, 
#wrapper .dropdown-content li>span {
  font-size: 13px;
  padding: 7px 13px;
  font-weight: 600;
  margin: 0;
}
.mobileLogo {
    background: #14334e;
    padding: 10px 20px;
}
.mobileLogo img{
    width: 120px;
}
.mobileLogo .htit{
    font-size: 17px;
    color:rgba(255, 255, 255, 0.48);
}
.mobileLogo .htit span{
    color: #dd9360;
}
.ViewContent{
    margin-top: 15px;
}
.content-wrapper .container-fluid{
    padding: 0 15px;
}


.pageNavigation li{
    margin-right: 3px;
}
.pageNavigation li a{
    display: flex;
    display: -webkit-flex;
}
.pageNavigation li a i.right{
    margin-left: 2px;
}

#wrapper .content-wrapper{
    padding-left: 207px;
} 





}


@media(min-width: 768px){

.addFormPanel{
    margin-left: 15px;
    margin-right: 15px;
}








}





@media (max-width:768px){

#wrapper .loginPanel, #wrapper .loginPanel .imgbox, #wrapper .loginPanel .logForm {
    height: 100%;
    position: relative;
    max-height: inherit;
    border-radius: 0;
}
.loginPanel .contDiv{
    padding: 15px;
}
.loginPanel .contDiv{
    text-align: center;
    position: relative;
}

#wrapper .addlistBtn .btn{
    margin: 0 3px;
}

#wrapper .addFormPanel input {
    background: transparent;
    padding: 0;
}
#wrapper .addFormPanel label{
    padding: 0;
}
.liveTruck .boot-col-auto{
    display: none;
}


#wrapper .trackingView{
    position: relative;
    height: 100% !important;
    margin-top: 20px;
}

#wrapper .searchTracking{
    top: 102px;
}

.MobileFilterPanel{
    display: block;
}



#wrapper .modal{
    height: auto;
    max-height: 85%;
    width: 100%;
}
#wrapper .modal .modal-content {
    padding: 10px;
}
#wrapper .addlistBtn .btn {
    margin: 0 3px;
    padding: 0 4px;
}
.addlistBtn i {
    margin: 0px 3px;
}

.dataFilterlist .col,
#wrapper .btnTrash,
#wrapper .dropFiltDate .col,
#wrapper .dropFiltDate .col .datepicker{
    width: 100%;
    max-width: 100%;
    text-align: left;
}
.dropFilt, .dropFiltDate {
    padding: 20px 7px 1px;
    margin-left: 0;
    border: solid 4px #f2f5f7;
    min-width: 100%;
}
.page-title{
    font-size: 15px;
}
#wrapper .addListBtn{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    height: 36px;
    font-weight: 600;
    line-height: 36px;    
    padding: 5px 20px;
    display: table;
    width: 100%;
    text-align: center;
}

.MobileFilterPanel{
    display: block;
}
.MobileFilterPanel .MBnav{
    margin-top: 7px;
}
#wrapper .fullScreenMobile{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0 !important;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    max-height: 100%;
}
#wrapper .fullScreenMobile .fixedpanel{
    background: transparent;
}
.popTitle{
    background-color: #ddd;
    padding: 12px 10px;
    font-size: 20px;
    color: #14334e;
    line-height: normal;
}
.popTitle .material-icons{
    margin-right: 10px;
}
.fullWidthBtn {
    width: 100%;
    display: flex;
}
.fullWidthBtn button,
.fullWidthBtn .btn,
.fullWidthBtn a{
    width: 100%;
    border-radius: 0px;
}
.ExportExPdf{
    display: flex;
    display: -webkit-flex;
}
.ExportExPdf li{
    margin: 10px;
}
.ExportExPdf a{
    padding: 20px;
    display: block;
    background: #fff;
    width: 100%;
    font-size: 18px;
}

.dataMobileView{
    display: block;
}
#wrapper .dataMobileView .myDateList{
    box-shadow: none;
    margin-left: -15px;
    margin-right: -15px;
    border: none;
    margin-top: 0;
    margin-bottom: 46px;
}
#wrapper .dataMobileView .myDateList .boot-col{
    padding: 0 5px 0 10px;
}
#wrapper .myDateList li a{
    border-bottom: solid 1px #eee;
}
#wrapper .myDateList li .imgbox{
    width: 50px;
    height: 50px;
    padding: 4px;
    line-height: 50px;
    text-align: center;
    background-color: #eee;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
#wrapper .myDateList li .imgbox span{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
}
#wrapper .myDateList li .imgbox img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    max-width: 30px;
    max-height: 30px;
}
#wrapper .myDateList li .htitle{
    font-size: 13px;
    font-weight: 600;
    color: #14334e;
    margin: 0;
}
#wrapper .myDateList li .htitle .smt{
    font-size: 10px;
    display: block;
    color: #888;
}
#wrapper .myDateList li .htitle .Dtime{
    font-size: 11px;
    color: #3f51b5;
    float: right;
}
#wrapper .myDateList li .smlist{
    font-size: 12px;
    color:#111;
    margin: 4px 0 0;
}
#wrapper .myDateList li .smlist i{
    margin-right: 3px;
    font-size: 13px;
    color: blue;
}
#wrapper .myDateList li a.active{
    background: #f5f5f5;
}
#wrapper .myDateList li a.active .smlist i,
#wrapper .myDateList li a.active .smlist,
#wrapper .myDateList li a.active .htitle .Dtime,
#wrapper .myDateList li a.active .htitle .smt,
#wrapper .myDateList li a.active .htitle,
#wrapper .myDateList li a.active .imgbox img{
    color: #999;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.fullDetailList .popTitle {
    padding: 14px 10px;
    font-size: 18px;
    color: #fff;
    top: 0;
    position: sticky !important;
    position: -webkit-sticky !important;
    background-color: #1a344c;
}
.fullDetailList .actionPanel a{
    display: inline-block;
    padding: 0 7px;    
}
.fullDetailList .actionPanel a i{
    margin: 0;
}

#wrapper .fullDetailList .boot-row{
    margin: 0px;
    padding-bottom:10px;
    border-bottom: solid 1px #eee;
}
#wrapper .fullDetailList .htitle{
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 0;
}
#wrapper .fullDetailList .htitle .smt{
    font-size: 13px;
    display: block;
    color: #888;
}
#wrapper .fullDetailList .imgbox{
    width: 50px;
    height: 50px;
    padding: 4px;
    line-height: 50px;
    text-align: center;
    background-color: #eee;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
#wrapper .fullDetailList .imgbox span{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
}
#wrapper .fullDetailList .imgbox img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    max-width: 30px;
    max-height: 30px;
}

#wrapper .fullDetailList .listmyData li{
    padding: 10px 0;
    border-bottom: solid 1px #eee;
}
#wrapper .fullDetailList .listmyData .smt{
    font-size: 13px;
    display: block;
    color: #888;
}
#wrapper .fullDetailList .listmyData .htit{
    font-size: 16px;
    color:#111;
    line-height: normal;
    margin: 4px 0 0;
}
#wrapper .hide-on-large-only {
    display: block !important;
}

.hidden-xs{
    display: none;
}
.dataViewListing{
    margin: 0;
}
#wrapper .tableListing,
#wrapper .dataFilterlist,
#wrapper .pagination,
#wrapper .page-header{
    display: none;
}
#wrapper .modal .tableListing{
    display: block;
}


#wrapper .fullScreenMobile .dataFilterlist{
    display: block;
}
.rupee-sm {
    background-image: url(../images/rupee2.svg);
    background-size: 15px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    margin-top: 4px;
    float: left;
}
#wrapper .content-wrapper{
  padding-left: 0 !important;
}

.CardViewPanel .htitle{
    margin: 10px;
}
  









}
@media (max-width:567px){


.MobileFilterPanel .MBnav{
    margin-top: 15px;
}
.searchTracking .htitle{
    font-size: 15px;
    font-weight: 600;
}
.backBtn {
    font-size: 12px;
    padding: 0 5px !important;
}


.DivFilt .boot-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.DivFilt .boot-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.DivFilt .input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}







}
@media (max-width:420px){}
@media (max-width:400px){}
@media (max-width:359px){
    
    .logForm .input-field {
        margin: 7px auto;
        float: none;
        width: auto;
    }

}
@media (max-width:320px){


}
