*{margin: 0;padding: 0;outline: none;}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif !important;
    background: #F2F5F7;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/Lato-Regular.ttf');
}
html{width:100%;height:100%;}
html,
body{height:100%;}
#wrapper .ht1{font-size:36px;margin:10px 0px;}
#wrapper .ht2{font-size:30px;margin:10px 0px;}
#wrapper .ht3{font-size:24px;margin:10px 0px;}
#wrapper .ht4{font-size:20px;margin:10px 0px;}
#wrapper .ht5{font-size:17px;margin:10px 0px;}
#wrapper .ht6{font-size:14px;margin:10px 0px;}
#wrapper a:focus,
#wrapper a:hover{text-decoration:none;}
.clear{margin:0px;padding:0px;clear:both;}
#wrapper p{font-size:14px;letter-spacing:0.6px;color:#444;margin-bottom: 10px;}
#wrapper .t10{font-size: 10px;}
#wrapper .t11{font-size: 11px;}
#wrapper .t12{font-size: 12px;}
#wrapper .t13{font-size: 13px;}
#wrapper .t14{font-size: 14px;}
#wrapper .t15{font-size: 15px;}
#wrapper .t16{font-size: 16px;}
#wrapper .t17{font-size: 17px;}
#wrapper .t18{font-size: 18px;}
#wrapper .t20{font-size: 20px;}
#wrapper .t22{font-size: 22px;}
#wrapper .t24{font-size: 24px;}
#wrapper .t28{font-size: 28px;}
#wrapper .t30{font-size: 30px;}
#wrapper .t34{font-size: 34px;}
#wrapper .t36{font-size: 36px;}
#wrapper .t40{font-size: 40px;}
#wrapper .l10{line-height: 10px;}
#wrapper .l12{line-height: 12px;}
#wrapper .l14{line-height: 14px;}
#wrapper .l16{line-height: 16px;}
#wrapper .l18{line-height: 18px;}
#wrapper .l20{line-height: 20px;}
#wrapper .l24{line-height: 24px;}
#wrapper .l28{line-height: 28px;}
#wrapper .l30{line-height: 30px;}
#wrapper .l36{line-height: 36px;}
#wrapper .l40{line-height: 40px;}
#wrapper .btn.active.focus, 
#wrapper .btn.active:focus, 
#wrapper .btn.focus, 
#wrapper .btn:active.focus, 
#wrapper .btn:active:focus, 
#wrapper .btn:focus {outline: 0px auto -webkit-focus-ring-color;outline-offset: 0px;}
#wrapper .marg0{margin: 0px;}
#wrapper .margL{margin-left: 0px;}
#wrapper .margR{margin-right: 0px;}
#wrapper .margT{margin-top: 0px;}
#wrapper .margB{margin-bottom: 0px;}
#wrapper .padd0{padding: 0px;}
#wrapper .paddL{padding-left: 0px;}
#wrapper .paddR{padding-right: 0px;}
#wrapper .paddT{padding-top: 0px;}
#wrapper .paddB{padding-bottom: 0px;}
#wrapper .paddTB10{padding-top: 10px;padding-bottom: 10px;}
#wrapper .paddTB20{padding-top: 10px;padding-bottom: 20px;}
#wrapper .paddTB30{padding-top: 30px;padding-bottom: 30px;}
#wrapper .paddTB40{padding-top: 40px;padding-bottom: 40px;}
#wrapper .padd10{padding: 10px;}
#wrapper .padd20{padding: 20px;}
#wrapper .padd30{padding: 30px;}
#wrapper .padd40{padding: 40px;}
#wrapper .padd50{padding: 50px;}

.text-justify{text-align: justify}
#wrapper .textUpper{text-transform: uppercase;}
.letter-space{letter-spacing: 1px;}

.light{font-weight: 300;}
.normal{font-weight: 400;}
.bold{font-weight: 600;}
.bolder{font-weight: 700;}
#wrapper strong{
  font-weight: bolder
}

#wrapper .bg-dark{background-color: #073251;}
#wrapper .color-dark{color: #073251;}
#wrapper .bg-yel{background-color: #ff8f00;}
#wrapper .color-yel{color: #ff8f00;}
#wrapper .bg-grey{background-color: #B6C8D2;}
#wrapper .color-grey{color: #B6C8D2;}
#wrapper .bg-grey-light{background-color: #F2F5F7;}
#wrapper .color-grey-light{color: #F2F5F7;}
#wrapper .bg-grey-dark{background-color: #648292;}
#wrapper .color-grey-dark{color: #648292;}
#wrapper .bg-green{background-color: #00C853 !important;}
#wrapper .color-green{color: #00C853 !important;}
#wrapper .bg-light-green{background-color: #82D028 !important;}
#wrapper .color-light-green{color: #82D028 !important;}
#wrapper .bg-white{background-color: #F8F8F8;}
#wrapper .color-white{color: #F8F8F8;}
#wrapper .color-white7{color: rgba(255, 255, 255, 0.7);}
#wrapper .color-white6{color: rgba(255, 255, 255, 0.6);}
#wrapper .color-white5{color: rgba(255, 255, 255, 0.5);}
#wrapper .color-white4{color: rgba(255, 255, 255, 0.4);}
#wrapper .color-white3{color: rgba(255, 255, 255, 0.3);}
#wrapper .color-white2{color: rgba(255, 255, 255, 0.2);}
#wrapper .color-black{color: #000000;}
#wrapper .color-black7{color: rgba(0, 0, 0, 0.8);}
#wrapper .color-black7{color: rgba(0, 0, 0, 0.7);}
#wrapper .color-black6{color: rgba(0, 0, 0, 0.6);}
#wrapper .color-black5{color: rgba(0, 0, 0, 0.5);}
#wrapper .color-black4{color: rgba(0, 0, 0, 0.4);}
#wrapper .color-black3{color: rgba(0, 0, 0, 0.3);}
#wrapper .color-black2{color: rgba(0, 0, 0, 0.2);}

.page-title{
  font-size: 18px;
  color: #648292;
  margin: 15px 0 10px;
}
.page-title .zmdi{
  color: #B6C8D2;
}
.page-title small{
  font-size: 13px;
  font-weight: 400;
  color: #B6C8D2;
}
.dot{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#wrapper nav i, nav [class^="mdi-"], 
#wrapper nav [class*="mdi-"], 
#wrapper nav i.material-icons {
  height: 100%;
  line-height: inherit;
}

#wrapper .dropdown-content {
  width: auto !important;
  min-width: 160px;
  max-height: 300px;
  overflow: auto;
}
#wrapper .dropdown-content li{
  clear: both;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  min-height: inherit;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  border-bottom: solid 1px #b9c8d1;
}
#wrapper .dropdown-content li>a, 
#wrapper .dropdown-content li>span {
  font-size: 14px;
  color: #26a69a;
  display: block;
  line-height: 30px;
  padding: 7px 13px;
  font-weight: 600;
}

/* Boot CSS */

.boot-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.boot-center {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}
.boot-self-center {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}
.boot-d-center{
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}
.boot-col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.boot-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.boot-col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.boot-col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.boot-col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.boot-col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.boot-col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
@media (min-width: 576px){
.boot-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
}
header, main, footer {
  padding-left: 230px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}








#wrapper{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
.loginWrapper{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #DDDDDD;
    margin: auto
}
#wrapper .loginPanel,
#wrapper .loginPanel .imgbox,
#wrapper .loginPanel .logForm{
    height: 540px;
}

.loginPanel{
    max-width: 1024px;
    max-height: 540px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 54px;
    overflow: hidden;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.16);
}
.loginPanel .imgbox{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
}
.loginPanel .content{
    width: 100%;
    height: 100%;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.4);    
    position: relative;
    margin: auto;
}
.loginPanel .contDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    width: 100%;
    margin: auto;
    display: table;
}
.content h1,
.content small{
    letter-spacing: 1px;
}
.content h1{
    overflow: hidden;
    position: relative;
    padding-top: 15px;
}
.content h1:before{
    content: "";
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    width: 100%;
    top: 0;
    position: absolute
}

.loginPanel .logForm{
    text-align: left;
    background-color: transparent;
}
#wrapper .loginPanel .logForm .ht6{
    margin-bottom: 30px;
    line-height: normal;
}
.logForm .input-field {
    width: 330px;
    height: 54px;
    padding: 0 10px;
    border: none;
    border-radius: 30px;
    background: #EEEEEE;
    position: relative;
    overflow: hidden;
    margin: 7px 0;
}
.logForm .input-field input{
    height: 54px;
    border: none;
    margin: 0;
    font-size: 20px;
    padding-left: 60px; 
}
#wrapper .logForm .input-field .material-icons{
    top: 14px;
    margin-left: 15px;
    font-size: 25px;
    color: rgba(183, 183, 183, 0.7);
}
#wrapper .logForm .input-field label{
    font-size: 17px;
    font-weight: 300;
    margin-left: 60px;
    margin-top: 2px;
    color: rgba(183, 183, 183, 0.9);
}
#wrapper .logForm .input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-20px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
#wrapper .logForm .input-field .material-icons.active {
    color: #26a69a;
}

.logForm input.invalid[type=text]:not(.browser-default),
.logForm input.invalid[type=password]:not(.browser-default) {
    border-bottom: 1px solid #F44336;
    -webkit-box-shadow: 0 1px 0 0 #F44336;
    box-shadow: 1px 0 0 #F44336;
    margin-top: -2px;
}
.logForm input.valid[type=text]:not(.browser-default),
.logForm input.valid[type=password]:not(.browser-default){
    border-bottom: 1px solid #4CAF50;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50;
    box-shadow: 0 2px 0 0 #4CAF50;
}
.submitBtn{
    width: 177px;
    border-radius: 30px;
    background: #E67D0E;
    box-shadow: none;
    height: 47px;
    line-height: 40px;
}
.logForm .submitBtn:hover, 
.logForm .submitBtn-large:hover, 
.logForm .submitBtn-small:hover {
    background-color: #E67D0E;
    box-shadow: none;
}
.submitBtn .material-icons {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
.modalPanel ul{
    padding-left: 17px;
}
.modalPanel ul li{
    line-height: 24px;
    list-style: circle;
}




.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}




/* Header CSS */
#header{
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 999;
}
.navTop{
  height: 64px;
  line-height: 64px;
  position: relative;
  box-shadow: none;
  background-color: #ffffff;
}
.navTop .logo{
  position: relative;
  float: left;
  width: 230px;
  height: 64px;
  padding: 5px;
  margin-left: -15px;
  overflow: hidden;
  text-align: center;
}
.navTop .logo img{
  width: 133px;
}
.navTop .nav-wrapper{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;  
}
.navTop ul a{
  font-size: 15px;
  color: #648292;
  border-bottom: solid 1px #eee;
}
#wrapper .navTop .dropdown-content{
  top: inherit !important;
}

.imgProf{
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 10px;
  background: #eee;
  border-radius: 50%;
  text-align: center;
  position: relative;
}
.imgProf img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 100%;
}
#wrapper .btn,
#wrapper .btn-small,
#wrapper .btn-large{
  box-shadow: none;
}
#wrapper .zmdi{
  height: inherit;
  line-height: inherit;
  margin-right: 10px;
  display: initial;
}
#wrapper .addlistBtn .btn{
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  height: 38px;
  border-radius: 5px;
  text-transform: inherit;
  position: relative;
}

.art {
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 2px #fff;
  line-height: 27px;
  margin: auto;
  border-radius: 50%;
  font-size: 13px;
  text-align: center;
  top: -10px;
  right: -15px;
  background: #FF5722;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.art em{
  font-style: normal;
}
.art::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}

.anim {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.anim::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}


.main{
  padding-left: 0;
}


/* sidebar nav CSS */
#wrapper .sidebar-nav{
  position: fixed;
  width: 207px;
  left: 0;
  z-index: 999;
  height: auto;
}
#wrapper .sidenav{
  top: 64px;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 207px;
  position: fixed;
  background: #fff;
  display: block;
  box-shadow: none;
  transition: all 0.7s;
}
/*
#wrapper .sidenav-fixed + .content-wrapper{
  padding-left: 207px;
  transition: all 0.7s;
}
*/


#wrapper .fixedSideNav {
  transform: translateX(0%);
}
.showSideNav{
  padding-left: 207px;  
}

#wrapper .sidenav li a{
  display: block;
  width: 100%;
  height: auto;
  font-size: 13px;
  color: #6e8693;
  padding: 9px 24px;  
  text-align: center;
  font-weight: 600;
  line-height: normal;
  border-top: solid 1px #f9f9f9;
}
#wrapper .sidenav li a i{
  display: block;
  width: 100%;
  float: none;
  color: #073251;
  height: auto;
  line-height: normal;
  margin-bottom: 4px;
}
#wrapper .sidenav li a .zmdi{
  font-size: 24px;
  color: #B6C8D2;
}
#wrapper .sidenav li.active a{
  background-color: #F2F5F7;
  color: #e79152 !important;
}
#wrapper .sidenav li.active a .zmdi{
  color: #e79152 !important;
}
#wrapper .sidenav li a:hover{
  background-color: #F2F5F7;
  color: #e79152 !important;
}
#wrapper .sidenav li a:hover .zmdi{
  color: #e79152 !important;
}



#wrapper .dropdown-content {
  top: inherit !important;
}

/* Main Content Wrapper CSS */

.content-wrapper{
  margin: 0;
  padding-left: 207px; 
  transition: all 0.7s;
}
.content-wrapper .container-fluid{
  padding: 0 24px;
}
.pageNavigation .sideNavClick{
  position: relative;
  color: #B6C8D2;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0;
}
#wrapper .pageNavigation .sideNavClick i{
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  color: #648292;
}
.pageNavigation{
  height: 40px;
  line-height: 40px;
  display: block;
  background: transparent;
  box-shadow: none; 
  margin-bottom: 10px; 
}
.pageNav-left{
  margin: 0;
}
.pageNavigation li{
  margin-right: 10px;
}
.pageNavigation li.active a{
  color: #e79152;
  border-left: solid 3px #e79152;
}
.pageNavigation li:hover a{
  color: #e79152;
  background-color: #fff;
  border-left: solid 3px transparent;
}
.pageNavigation li a{
  font-size: 14px;
  font-weight: 600;
  color: #14334e;
  border-radius: 0px;
  background: #fff;
  padding: 0 15px;
  border-left: solid 3px transparent;
  transition: ease-in-out 0.4s;
}

#wrapper .pageNavigation i{
  height: 45px;
  line-height: 45px;
  color: #B6C8D2;
}
.pageNav-left .dropdown-content li{
  min-height: inherit;
}
.pageNav-left .dropdown-content li>a, 
.pageNav-left .dropdown-content li>span{
  height: 45px;
  line-height: 45px;
  border-radius: 0;
  margin: 0;  
}




.wrapContent{
  position: fixed;
  width: 100%;
  height: 100%;
}

.ViewContent{
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 25px;
}
.ViewContent .trackingView{
  position: relative;
}
.page-header{
  display: block;
}

#wrapper .trackingView{
  position: sticky;
  position: -webkit-sticky;
  right: 0;
  top: 0;
  bottom: 0;
  height: calc(100vh);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#wrapper .trackingView.mapFT{
  height: calc(100vh);
}
.mapViewSec{
  height: 100%;
  width: 100%;
}


#wrapper .searchTracking{
  background: #EEEEEE;
  height: 50px;
  line-height: 50px;
  -webkit-position:sticky;
  position: sticky;
  top: 64px;
  z-index: 9;
  color: inherit;
  box-shadow: none;
}
.searchTracking .boot-row{
  margin: 0;
}
#wrapper .CustSelBrn{
  height: 44px;
  line-height: 44px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  background: #ffffff;
  border-radius: 0px;
  margin-top: -5px;
  letter-spacing: 0;
  padding: 0 7px;
  text-transform: inherit;
}
#wrapper .CustSelBrn i{
  height: 44px !important;
  line-height: 44px !important;
  margin-right: 0;
}
.listOfFilter{
  width: 100%;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px #ddd;
  box-shadow: 0px 1px 1px #ddd;
  display: none;
  position: absolute;
}
.listOfFilter .row,
.listOfFilter .boot-row{
  padding: 0px 0 0;
  margin-bottom: 0;
}
.listOfFilter .tabs .tab a{
  color: rgba(101, 101, 101, 0.7);
  font-weight: 600;
}
.listOfFilter .tabs .tab a:hover, 
.listOfFilter .tabs .tab a.active {
  background-color: rgba(255, 255, 255, 1);
  color: #ee6e73;
}
.listOfFilter .tabs {
  background: #f2f5f7;
}

.listOfFilter .boot-col,
.listOfFilter .boot-col-4,
.listOfFilter .boot-col-3,
.listOfFilter .boot-col-12,
.listOfFilter .boot-col-6{
  padding: 0 15px;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.listOfFilter label input[type="checkbox"]:checked + span{
  color: #3F51B5;
}
.listOfFilter label input[type="checkbox"]:checked+span:not(.lever):before{
  border-right: 2px solid #3F51B5;
  border-bottom: 2px solid #3F51B5;  
}
.listOfFilter label{
  width: 100%;
  display: block;
  color: #648292;
  font-weight: 600;
}
#wrapper .DivFilt{
}
#wrapper .datePickFT{
  padding-top: 30px;
  padding-bottom: 7px;
}
#wrapper .datePickFT .boot-col-6{
  border:none;
}
#wrapper .datePickFT .input-field .material-icons {
  top: 0;
  color: #698290;  
}
#wrapper .datePickFT .input-field input{
  margin-bottom: 0px;
}
#wrapper .datePickFT .input-field label{
  font-weight: 400;
  top: -10px;
}


.closeSFlt{
  color: #14334e;
  font-size: 24px;
  position: absolute;
  right: 0;
  bottom: -40px;
  background: #dde0e2;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 5px;
}
#wrapper .closeSFlt i{
  margin: auto;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}

#wrapper .searchTracking .nav-wrapper i,
#wrapper .searchTracking .nav-wrapper input{
  height: 50px;
  line-height: 50px;
}
#wrapper .searchTracking .nav-wrapper input{
  height: 44px;
  line-height: 44px;
  margin: 3px 0;
}
#wrapper .searchTracking .input-field label.active i{
  color: #B6C8D2;
}
.liveTruck{
  display: block;
  overflow: auto;
}
.liveTruck li{
  border-left: solid 4px transparent;
  border-radius: 0px;
}
.liveTruck li:hover{
  /*border-left: solid 4px #00C853; */
  background: #f2f5f7;
}

.liveTruck .card{
  margin: 0px 0px 3px;
  box-shadow: none;
}
.liveTruck .imgProf {
  width: 45px;
  height: 45px;
  margin: 5px 5px 30px -4px;
}
.liveTruck .card .card-content{
  padding: 10px 5px;
}
.liveTruck .boot-row{
  margin: 0;
}
.liveTruck .tinf,
.liveTruck .tinb{
  font-size: 13px;
  color: #313534;
  opacity: 0.75;
}
#wrapper .liveTruck .ht4{
  margin: 5px 0;
  font-size: 17px;
}
#wrapper .liveTruck span{
  margin-right: 3px;
}
#wrapper .liveTruck i{
  font-size: 14px;
  margin: 0 4px;
}
#wrapper .liveTruck strong{
  color: #323a5b;  
}
.liveTruck .tinb{
  display: block;
  padding: 5px;
  margin: 2px -5px -5px;
}

#wrapper .listVect{
  max-width: 181px;
}
#wrapper .listVect .boot-col-3{
  padding: 0 0;
  text-align: center;
}
#wrapper .listVect i{
  font-size: 20px;
  height: 22px;
  display: block;
  margin: 0;
}
#wrapper .listVect em{
  font-style: inherit;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}
#wrapper .listVect .kmh{
  font-size: 16px;
  padding: 3px 0;
  font-style: inherit;
}

#wrapper .viewmore{
  font-size: 10px;
  padding: 4px 5px !important;
  height: auto;
  font-weight: 600;
  background-color: #999;
  line-height: 14px;
}



.trackDt{
  padding: 0 10px;
  background: #F2F5F7;
}
.trackDt .htitle{
  margin: 0px 0;
  line-height: 50px
}
.htitle{
  font-size: 20px;
  color: #323a5b;
  margin: 10px 0;
}
#wrapper .trackDt i{
  height: inherit;
  line-height: inherit;
}
.backBtn{
  color: #323a5b;
  margin-top: 7px;
  font-weight: 600;
  font-size: 13px;
  background: #fff;
}
#wrapper .backBtn:hover i,
.backBtn:hover{
  color: #ffffff !important;
}

.trackView .card .trackDt{
  padding: 5px 10px;
}
.trackView .card,
.trackView .card:hover{
    border: none;
}
.trackView .imgProf{
  margin: 5px 5px 30px 0px;
}
#wrapper .trackView .viewtl{
  padding: 10px 20px;
}
#wrapper .trackView .viewtl span{
  display: block;
  margin: 5px 0px 0px;
  font-weight: 600;
}
#wrapper .trackView .viewtl .boot-col-3,
#wrapper .trackView .viewtl .boot-col-2,
#wrapper .trackView .viewtl .boot-col-1{
  margin: 1px 0;
  font-size: 14px;
}
#wrapper .trackView .viewtl strong{
  color: #648292;
}
.text-center{
  text-align: center;  
}

#wrapper .trackView .lgic{
  font-size: 20px;
}

.display-none{
  display: none;
}


#map{
  width: 100%;
  height: 100%;
}

.addFormPanel{
  display: block;
  margin-top: 20px;
}
#wrapper .addFormPanel .input-field{
  margin: 20px 0;
  position: relative;
}
#wrapper .addFormPanel .selected{
  color: #ddd;
}
#wrapper select option:first-child{
  color: green;
}
#wrapper .addFormPanel input{
  background: #ffffff;
  padding: 0 5px;
}
#wrapper .addFormPanel label{
  font-size: 16px;
  padding: 0 7px;
  color: #243e55;
  font-weight: 500;
}
#wrapper .addFormPanel label.active{
  font-size: 20px;
  margin-top: -10px;
}
#wrapper .addFormPanel label input[type="checkbox"]:checked ~ .chkS{
  color: #5ea399;
}
#wrapper .addFormPanel .select-wrapper+label{
  margin-top: -10px;
}

#wrapper .fullScreen,
#wrapper .ShowfullScreen{
  margin-right: 15px;
}


.dataFilterlist{
  margin: 0;
  font-size: 15px;
}
.dataFilterlist .row{
  margin: 0;
}
.dataFilterlist .btn{
  text-transform: inherit;
}
.dataFilterlist .row .col{
  padding: 0 3px;
  margin-bottom: 5px;
}
.dataFilterlist .select-wrapper input.select-dropdown{
  color: #14334e;  
  font-size: 15px;
}


.dropFilt,
.dropFiltDate{
  position: absolute;
  display: none;
  margin-top: 10px;
  z-index: 999;
  background: #ffffff;
  padding: 20px 7px 1px;
  margin-left: -20px;
  border: solid 4px #f2f5f7;
  min-width: 425px;
}
#wrapper .dropFiltDate .col{
  max-width: 177px;
}
.dropFilt:before,
.dropFiltDate:before {
  border-color: rgba(215,215,215,0) !important;
  border-bottom-color: #ffffff !important;
  border-width: 13px !important;
  margin-left: -13px;
}
.dropFilt:before,
.dropFiltDate:after, 
.dropFilt:after,
.dropFiltDate:before {
  bottom: 100%;
  left: 5em;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dropFilt .input-field,
.dropFiltDate .input-field{  
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}


.dropSetPop{
  position: absolute;
  display: none;
  margin-top: 10px;
  z-index: 999;
  background: #ffffff;
  padding: 20px 7px 1px;
  margin-left: -20px;
  border: solid 4px #f2f5f7;
  min-width: 417px;
}

.dropSetPop:before {
  border-color: rgba(215,215,215,0) !important;
  border-bottom-color: #ffffff !important;
  border-width: 13px !important;
  margin-left: -13px;
}
.dropSetPop:before,
.dropSetPop:after{
  bottom: 100%;
  left: 5em;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dropSetPop .input-field{  
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}


.dataFilterlist select,
.dataFilterlist input{
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dataFilterlist .select-wrapper .caret{
  display: none;
}

#wrapper .btnTrash{
  height: 46px;
  color: #14334e;
  font-size: 15px;
  padding: 0 5px;
  text-transform: inherit;
  background-color: transparent;
  border-bottom: solid 1px #9e9e9e;
  border-radius: 0; 
}
.closeIc:hover{
  color: #E67D0E;
  cursor: pointer;
}



.dataViewListing{
  margin-top: 10px;
}
.tableListing th{
  font-size: 13px;
  color: #6A8796;
  font-weight: 400;
  padding: 5px;
  transition: all 0.4s;
}
.tableListing td{
  max-width: 200px;
  font-size: 13px;
  font-weight: 600;
  padding:12px 5px;
  line-height: 17px;
  color: #14334e;
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  transition: all 0.2s;
}
.tableListing tbody tr{
  color: #323a5b;
  background: #ffffff;
}
.tableListing tbody tr:hover {
  -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  z-index: 1;
  background: #f2f5f7;
}
.tableListing tbody tr:hover td{
  color: #323a5b;
}
.tableListing tr ul {
  display: flex;
}
#wrapper .infoNo{
  display: none;
}
#wrapper .tableListing tr:hover .infoNo{
  display: flex;
  transition: all 0.4s;
}
#wrapper .tableListing tr:hover .hidNo {
  display: none;
}

.tableListing td .imgbox{
  width: 34px;
  height: 34px;
  position: relative;
  overflow: hidden;
  text-align: center;
  float: left;
  background: #fff;
  border-radius: 50%;
  margin-right: 7px;
  border: solid 1px #eee;
}
.tableListing td .imgbox img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 28px;
}
.tableListing i{
  font-size: 20px;
  margin-right: 5px;
  float: left;
  color: #79c060;
}
.tableListing .btn-small{
  font-size: 13px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 35px;
}
.tableListing .btn-small{
  overflow: inherit;
  text-transform: inherit;
  border-radius: 20px;
}
.tableListing .btn-small.icpd{
  padding: 16px;
  margin: 0 2px;
}
#wrapper .tableListing .btn-small i{
  width: 34px;
  height: 34px;
  margin: 0;
  line-height: 30px;
  font-size: 16px;
  border-radius: 50%;
  position: absolute;
  right: -1px;
  top: -1px;
  border: solid 2px #fff;
  text-align: center;
}
.tableListing .btn-small img{
  z-index: 1;
  width: 30px;
  height: 30px;
}
#wrapper .btn-green,
#wrapper .btn-green i{
  font-weight: 600;
  color: #5CB265;
  background: #BDE6C5;
  transition: all 0.4s;
}
#wrapper .btn-green:hover,
#wrapper .btn-green:hover i{
  color: #fff;
  background: #5CB265;
}
#wrapper .btn-green.active,
#wrapper .btn-green.active i{
  color: #fff;
  background: #5CB265;
}
#wrapper .btn-red,
#wrapper .btn-red i{
  font-weight: 600;
  color: #E9563D;
  background: #FBDED9;
}
#wrapper .btn-red:hover,
#wrapper .btn-red:hover i{
  color: #fff;
  background: #E9563D;
}
#wrapper .btn-red.active,
#wrapper .btn-red.active i{
  color: #fff;
  background: #E9563D;
}
#wrapper .btn-blue,
#wrapper .btn-blue i{
  font-weight: 600;
  color: #004ECB;
  background: #D7EDFC;
}
#wrapper .btn-blue:hover i{
  color: #004ECB;
  background: #fff;
}
#wrapper .btn-blue.active i{
  color: #004ECB;
  background: #fff;
}
#wrapper .btn-blue:hover{
  font-weight: 600;
  color: #fff;
  background: #004ECB;
}
#wrapper .btn-blue.active{
  font-weight: 600;
  color: #fff;
  background: #004ECB;
}
#wrapper .btn-grey,
#wrapper .btn-grey i{
  font-weight: 600;
  color: #648292;
  background: #F2F5F7;
}
#wrapper .btn-grey:hover,
#wrapper .btn-grey:hover i{
  color: #fff;
  background: #648292;
}
#wrapper .btn-grey.active,
#wrapper .btn-grey.active i{
  color: #fff;
  background: #648292;
}

.fixedpanel{
  position: -webkit-sticky !important;
  position: sticky !important;
  top:0;
  z-index: 9;
  background: #f2f5f7;
}

.dataViewListing .pagination{
  padding: 10px;
}
.dataViewListing .pagination li a{
  font-size: 14px;
}

.rupee {
  background-image: url('../images/rupee2.svg');
  background-size: 30px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
}
.rupee-sm {
  background-image: url('../images/rupee2.svg');
  background-size: 15px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}

.custmRoutes{
  position: relative;
}
.custmRoutes #routmap{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.routeMapView{
  width: 100%;
  height: 400px;
  background: #ffffff;
}
#routeCreation{
  width: 100%;
  height: 100%;
}

.writeDot{
  max-width: 150px;
  float: left;
  margin-right: 7px;
}

#wrapper #tableDiv{
  transition: all 0.4s;
  display: none;
  padding: 0;
}
#wrapper #tableDiv td{
  word-break: break-word;
}
#wrapper #tableDiv tbody tr{
  background: #f1f5f7;
}
#tableDiv .pto{
  color: #47a69a;
  float: left;
  margin-right: 7px;
}

#wrapper .listDriverPop{
  margin: 0;
}
#wrapper .listDriverPop label{
  font-size: 14px;
  color: #777;
  border-bottom: solid 1px #ddd;
  padding: 10px 0;
  font-weight: 600;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;  
}
#wrapper .listDriverPop label img{
  max-width: 80px;
  width: 100%;
  position: relative;
}
#wrapper .listDriverPop label strong{
  color: #073251;
}
#wrapper .listDriverPop label strong a{
  position: relative;
  width: 100px;
  display: table;  
}
#wrapper .listDriverPop label strong a img{
  max-width: 75px;
  width: 100%;
  top: 0;
  margin: auto;
  bottom: 0;
  left: 0;
  float: left;
  position: absolute;
}
.listDriverPop label i{
  font-size: 17px;
  color: #9e9e9e;
}





#wrapper .whatsapp{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  border: 3px solid green;
  border-radius: 50%;
  transition-duration: 0.5s;
}
#wrapper .zmdi-whatsapp{
  padding-top: 0;
  font-size: 30px;
  margin: 0;
  text-decoration: none;
  color: green;
  }
  #wrapper .whatsapp:hover{
    color: #fff;
    background-color: green
  }
  #wrapper .whatsapp:hover .zmdi-whatsapp{
    color: #fff;
  }

.modalOverVisible{
  overflow: visible;
}  
.modal-small{
  max-width: 400px;
}

.rupee_smIcon{
  width: 12px;
  margin-right: 4px;
}



/* Bounce To Right
table tr {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
table tr:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #834949;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
table tr:hover, 
table tr:focus, 
table tr:active {
  color: white;
}
table tr:hover:before, 
table tr:focus:before, 
table tr:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

 */


 .DisplayNone{
   display: none;
 }

 
.CollaplsingPanel{
  margin: 0;
  border: none;
  box-shadow: none;
}
#wrapper .addFormPanel .CollaplsingPanel .select-wrapper+label {
  margin-top: 0px;
}
#wrapper .addFormPanel .CollaplsingPanel .collapsible-body .select-wrapper+label {
  margin-top: -10px;
}
.CollaplsingPanel .collapsible-header{
  background: transparent;
  box-shadow: none;
  border: none;
}
.CollaplsingPanel .collapsible-body{
  padding: 0 15px;
  max-height: 300px;
  overflow: auto;
  margin-bottom:30px;
}
.CollaplsingPanel .nonOverWidth{
  overflow: inherit;
  margin-bottom: 30px;
}

.iNclickPop{
  position: absolute;
  right: 0;
}


.btn, .btn-large, .btn-small, .btn-flat{
  padding-left: 15px;
  padding-right: 15px;
}

.listOrder{
  display: block;
}
.listOrder .imgIcon{
  width: 75px;
  height: 75px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  display: block;
  background-color: #bfe6e3;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
.listOrder .imgIcon img{
  width: 43px;
  opacity: 0.5;
}
#wrapper .listOrder .active .imgIcon{
  display: block;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
#wrapper .listOrder .active .imgIcon img{
  opacity: 1;
}
.listOrder .active .imgIcon{
  background-color: #bfe6e3;
}
.listOrder .imgIcon img{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
}
#wrapper .listOrder li{
  text-align: center;
  position: relative;
  margin: 15px 0;
}
#wrapper .listOrder .title{
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #777;
  margin-top: 5px;
}
#wrapper .listOrder .time{
  font-size: 13px;
  margin: 4px 0;
  color: #666;
  font-style: normal;
}
#wrapper .listOrder li:after{
  content: "";
  position: absolute;
  top: 37px;
  left: 65px;
  margin: auto;
  width: 100%;
  height: 7px;
  background-color: #DDDDDD;
  z-index: -1;
}
#wrapper .listOrder li:nth-last-child(1):after{
  display: none;
}
#wrapper .listOrder li:nth-child(4n+4):after{
  content: "";
  position: absolute;
  top: 50px;
  left: 90px;
  margin: auto;
  width: 7px;
  height: 100%;
  background-color: #DDDDDD;
  z-index: -1;
  display: none;
}

#wrapper .listOrder li.active:after{
  background-color: #c6e4e2;
}
#wrapper .listOrder li.active .title{
  color: #009688;
}
#wrapper .listOrder li.active .time{
  color: #111;
}
#wrapper .listOrder .textCont{
  background: #fafafa;
  display: block;
}


.addListBtn .material-icons{
  font-size: 26px;
  margin-right: 7px;
}
.prefix.logoIcon img{
  width: 34px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.prefix.logoIcon.active img{
  width: 34px;
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.CardViewPanel{
  display: block;
}
.CardViewPanel .card-content{
  padding: 15px 5px;
  padding-bottom: 10px;
}
.CardViewPanel .card-content button{
  margin-bottom: 15px;
}

.CardViewPanel .card-content .row{
  margin: 0;
}
.CardViewPanel .input-field .prefix{
  color: #b9c8d0;
}
.CardViewPanel .input-field .prefix.active,
#wrapper .CardViewPanel .input-field input:focus + label{
  color: #26a69a;
}

.listLRDet{
  display: block;
  margin: 0;
}
.listLRDet li{
  margin: 5px 0;
}
.listLRDet li img{
  width: 14px;
  display: inline-block;
}
.listLRDet li span{
  display: inline-block;
}
.listLRDet .ttv{
  font-size: 14px;
  font-weight: 600;
  color: #1a344c;
  margin-left: 10px;
}
.listLRDet .val{
  font-size: 15px;
  font-weight: 600;
  color: #111;
}


 .tabpanel{
   margin: 0;
 }
 .tabpanel .tabs{
  background-color: transparent;
  width: auto;
  margin: auto;
  display: table;
 }
 .tabpanel .tabs li{
   margin: 0 7px;
 }
 .tabpanel .tabs a{
  padding: 10px 20px;
  line-height: normal;
  display: inline;
  color: #fff;
  font-size: 13px;
  background: #ccc;
  border-radius: 20px;
  font-weight: 600;
  position: relative;
  margin: auto;
  z-index: 1;
 }
 .tabpanel .tabs .tab a:hover, 
 .tabpanel .tabs .tab a.active {
  background-color: #ee6e73;
  color: #ffffff;
}
.tabpanel .tabs a:after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -50px;
  width: 100%;
  height: 3px;
  background: #ccc;
  margin: auto;
  z-index: -1;
}
.tabpanel .tabs li:nth-last-child(2) a:after{
  display: none;
}
.tabpanel .tabs li:nth-last-child(1){
  display: none;
}

#wrapper .contDivPanel{
  width: 100%;
  height: 100%;
  padding: 14px;
  background: #ffffff;
}

.contDivPanel .row{
  margin: 0;
}
.contDivPanel textarea{
  min-height: 60px;
}
.fileUploadCont label.active{
  margin-top: -10px;
}
#wrapper .fileUploadCont .has-preview p{
  color: #fff;
}
#wrapper  .dropify-wrapper{
  border: 2px solid #bac9d1;  
}

.formCardPanel{
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.formCardPanel .card-content{
  display: table;
  width: 100%;
  padding: 11px 7px 0;
  margin-bottom: 17px;
  background: #fff;
  box-shadow: 0px 0px 1px #469bec;
}

input[type=text]:not(.browser-default)[readonly="readonly"]{
  color: rgba(0, 0, 0, 0.87);
}

#wrapper .btnSm{
  padding-left: 15px;
  padding-right: 15px;
}
#wrapper .rupeeSm{
  width: 17px;
  height: 32px;
}
.tabingPanel{
  display: block;
}
.tabingPanel .tabs{
  box-shadow: 0px 1px 1px #ddd;
  margin-bottom: 10px;  
}
.tabingPanel .tabs .tab a:hover, 
.tabingPanel .tabs .tab a.active {
  background-color: #f2f5f7;
  color: #2196f3;
}
.tabingPanel .tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #2196f3;
  will-change: left, right;
}

/*
.modal {
  overflow: visible;
}
*/



.graphPanel{
  margin-bottom: 20px;
}

.footer{
  padding: 10px;
  background: #fff;
}

.successLog{
  font-weight: bold;
  background-color: green !important;
  -webkit-animation: peek 1s forwards;
  -webkit-animation-delay: 0.5s;
  animation: peek 1s forwards;
  animation-delay: 100ms;
  text-align: center;
  transform: translateX(0px) !important;  
  top: 0% !important; 
}
.errorLog{
  font-weight: bold;
  background-color: indianred !important;
  -webkit-animation: peek 1s forwards;
  -webkit-animation-delay: 0.5s;
  animation: peek 1s forwards;
  animation-delay: 100ms;
  text-align: center;
  transform: translateX(0px) !important;
  top: 0% !important; 
}

@-webkit-keyframes peek {
      0% { top: 0px; }
    100% { top: 150px; }
}

@keyframes peek {
    0% { top: 0px; }
  100% { top: 150px; }
}

#toast-container {
  top: -10%;
  right: 0;
  left: 0;
  max-width: 360px;
  margin: auto;
}


.MobileFilterPanel{
  display: none;
  margin: auto;
  width: 100%;
  margin-top: -5px;
  margin-bottom: 0px;
}
.MobileFilterPanel .MBnav{
  background: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  box-shadow: 0px 1px 1px #ddd;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;;
}
.MobileFilterPanel .MBnav li a{
  font-size: 14px;
  padding: 10px 17px;
  display: block;
  text-align: center;
  color: #666;
  font-weight: 600;
  border-right: solid 1px #ddd;
}
.MobileFilterPanel .MBnav li a i{
  margin-right: 10px;
  font-size: 18px;
  margin-top: 1px;
  line-height: normal;
  float: left;
}
.subMenuList li a{
  padding: 10px 19px;
  margin: 10px 0;
  display: block;
  font-size: 16px;
  background: #fff;
  color: #333;
}

.MobileFilterPanel .page-mob{
  padding: 0 10px 10px;
  margin: 0 0 0px;
  border-bottom: solid 1px #ddd;
}
.MobileFilterPanel .page-title{
  margin: 0;
}
.dataMobileView{
  display: none;
}

#wrapper .stickyTop {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    vertical-align: top;
    z-index: 99;
}

.highcharts-container{
  width: 100% !important;
  min-height: 400px;
}


::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em
}
::-webkit-scrollbar-button {
  background: #ccc
}
::-webkit-scrollbar-track-piece {
  background: #888
}
::-webkit-scrollbar-thumb {
  background: #eee
}


.DivFilt .boot-row{
  max-height:300px;
  overflow: auto;
}

.editsm{
  display: none;
}

.tableListing .progress{
  height: 7px;
}














