*{margin: 0;padding: 0;outline: none;}
body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: #073251;
	font-family: 'Montserrat', sans-serif !important;
	background-color: #F5F6FA !important;
}
html, body {
    height: 100%;
}
.clear{
	width: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
}

/*== Site Color Code ==*/
.yellow{color: #E57803;}
.yellow-light{color: #E5AE74;}
.blue{color: #1592E6;}
.blue-dark{color: #073251;}
.grey{color: #ADB8BF;}
.grey-light{color: #EAEEFA;}
.grey-dark{color: #606F79;}
.green{color: #73C700;}

.bg-yellow{background-color: #E57803;}
.bg-yellow-light{background-color: #E5AE74;}
.bg-blue{background-color: #1592E6;}
.bg-blue-dark{background-color: #073251;}
.bg-grey{background-color: #ADB8BF;}
.bg-grey-light{background-color: #EAEEFA;}
.bg-grey-dark{background-color: #606F79;}
.bg-green{background-color: #73C700;}


#wrapper .ht1{font-size:36px;margin:10px 0px;}
#wrapper .ht2{font-size:30px;margin:10px 0px;}
#wrapper .ht3{font-size:24px;margin:10px 0px;}
#wrapper .ht4{font-size:20px;margin:10px 0px;}
#wrapper .ht5{font-size:17px;margin:10px 0px;}
#wrapper .ht6{font-size:14px;margin:10px 0px;}
#wrapper a:focus,
#wrapper a:hover{text-decoration:none;}
.clear{margin:0px;padding:0px;clear:both;}
#wrapper p{font-size:15px;color:#333;}
#wrapper .t10{font-size: 10px;}
#wrapper .t11{font-size: 11px;}
#wrapper .t12{font-size: 12px;}
#wrapper .t13{font-size: 13px;}
#wrapper .t14{font-size: 14px;}
#wrapper .t15{font-size: 15px;}
#wrapper .t16{font-size: 16px;}
#wrapper .t17{font-size: 17px;}
#wrapper .t18{font-size: 18px;}
#wrapper .t20{font-size: 20px;}
#wrapper .t22{font-size: 22px;}
#wrapper .t24{font-size: 24px;}
#wrapper .t28{font-size: 28px;}
#wrapper .t30{font-size: 30px;}
#wrapper .t34{font-size: 34px;}
#wrapper .t36{font-size: 36px;}
#wrapper .t40{font-size: 40px;}
#wrapper .l10{line-height: 10px;}
#wrapper .l12{line-height: 12px;}
#wrapper .l14{line-height: 14px;}
#wrapper .l16{line-height: 16px;}
#wrapper .l18{line-height: 18px;}
#wrapper .l20{line-height: 20px;}
#wrapper .l24{line-height: 24px;}
#wrapper .l28{line-height: 28px;}
#wrapper .l30{line-height: 30px;}
#wrapper .l36{line-height: 36px;}
#wrapper .l40{line-height: 40px;}
#wrapper .btn.active.focus, 
#wrapper .btn.active:focus, 
#wrapper .btn.focus, 
#wrapper .btn:active.focus, 
#wrapper .btn:active:focus, 
#wrapper .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#wrapper b, #wrapper strong {font-weight: 500;}
#wrapper .marg0{margin: 0px;}
#wrapper .margL{margin-left: 0px;}
#wrapper .margR{margin-right: 0px;}
#wrapper .margT{margin-top: 0px;}
#wrapper .margB{margin-bottom: 0px;}
#wrapper .padd0{padding: 0px;}
#wrapper .paddL{padding-left: 0px;}
#wrapper .paddR{padding-right: 0px;}
#wrapper .paddT{padding-top: 0px;}
#wrapper .paddB{padding-bottom: 0px;}
#wrapper .paddTB10{padding-top: 10px;padding-bottom: 10px;}
#wrapper .paddTB20{padding-top: 10px;padding-bottom: 20px;}
#wrapper .paddTB30{padding-top: 30px;padding-bottom: 30px;}
#wrapper .paddTB40{padding-top: 40px;padding-bottom: 40px;}
#wrapper .padd10{padding: 10px;}
#wrapper .padd20{padding: 20px;}
#wrapper .padd30{padding: 30px;}
#wrapper .padd40{padding: 40px;}
#wrapper .padd50{padding: 50px;}
#wrapper .margT60{margin-top: 60px;}
.title{
  font-size: 30px;
  border-bottom: solid 1px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-shadow: 0px 2px 2px #fff;
}
.title2{
  font-size: 20px;
  text-shadow: 0px 2px 2px #fff;
}
#wrapper .textUpper{text-transform: uppercase;}
#wrapper .light{font-weight: 300;}
#wrapper .normal{font-weight: 400;}
#wrapper .semiBold{font-weight: 500;}
#wrapper .bold{font-weight: 600;}
#wrapper .bolder{font-weight: 700;}
#wrapper .bg-color{background-color: #F5F6FA;}
#wrapper .bg-grey{background-color: #f6f6f6;}
#wrapper .bg-white{background-color: #fff;}
#wrapper .white{color: #fff;}

.sticky-bottom {
	position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


#wrapper{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	outline: none;
	position: relative;
	display: table;
}


/*== Header ==*/
.header{
	background-color: #fff;
}
.Head{
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 60px;
}
.Head .logo img{
	width: auto;
	height: 60px;
}
#wrapper .breadcrumb{
	border-radius: 0;
	background-color: #E57803;
}

.ProfileUser{
	margin: 0;
}
.ProfileUser .dropdown-menu a{
	font-size: 13px;
	font-weight: 500;
	color: #707070;
}
.ProfileUser .dropdown-menu a:hover{
	color: #073251;
}
#wrapper .userLog{
	-ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
    background-color: transparent;
    outline: none;
    border: none;
    color: #707070;
    padding: 0;
}
.proImg{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	border: solid 1px #ddd;
	position: relative;
	overflow: hidden;
}
.proImg img{
	max-width: 40px;
	max-height: 40px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.userLog span{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
}



/*== Home Department ==*/

.departMentPanel{

}
.navActDP a{
	font-size: 14px;
	color: #CCCCCC;
	margin: 20px 0;
}
#wrapper .navActDP li{
	margin-right: 20px;
}
.navActDP li.active a{
	color: #1592E6;
}
.navActDP li:hover a{
	color: #1592E6;
}

.listDepartMent .itemPanel{
	height: 260px;
	padding: 20px;
	border-radius: 10px;
	background-color: #fff;
	border: dashed 2px #ADB8BF63;
	margin-bottom: 30px;
}
.listDepartMent .itemPanel	.imgIcon{
	width: 70px;
	height: 70px;
	overflow: ;
	position: relative;
	background-color: #eee;
	border-radius: 100%;
	margin-bottom: 14px;
}
.listDepartMent .itemPanel img{
	max-width: 70px;
	max-height: 70px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.listDepartMent .itemPanel .htitle{
	font-size: 18px;
}
.listDepartMent .itemPanel .listlist a:before {
    content: "\f10c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 10px;
    color: #999;
    padding-right: 0.5em;
}
.listDepartMent .itemPanel .listlist li a{
	font-size: 13px;
	line-height: 24px;
	color: #666;
}
.listDepartMent .itemPanel .listlist li a:hover{
	color: #1592E6;
}



/*== Footer Style ==*/
.footer{
	height: 0;
	display: table-row;
	background-color: #fff;
}
.footer .copyRight{
    margin: 13px 0 10px;
    display: block;
    width: 100%;
}




/*== Left Right Menu Style ==*/

.leftSideNav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: rgba(7, 50, 81, 0.99);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 0px;
}
.rightSideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(7, 50, 81, 0.99);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 999;
}

.sidenav a {
    padding: 8px 8px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #000;
}
.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    font-weight: 300;
    margin-left: 50px;
    background: #e57937;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    padding: 0px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menubar{
	padding: 10px 5%;
	display: block;
	position: relative;
	overflow-x: auto;
}
.menubar .hdwel{
	font-size: 24px;
	margin-bottom: 30px;
	text-align: center;
}
.sidenav .navbar-nav li{
	width: 100%;
} 
.sidenav .navbar-nav li a{
	width: 100%;
	display: block;
	color: rgba(255,255,255, 0.7);
	font-size: 16px;
	padding: 10px 10%;
}
.sidenav .navbar-nav i{
	margin-right: 7px;
}
.sidenav .dropdown-menu{
	padding: 0px;
	padding-left: 7px; 
}
.sidenav .dropdown-menu .dropdown-item{
	color: #fff;
	font-size: 15px;
	padding: 7px 15px;
}
.sidenav .navbar-nav li a:hover{
	color: #e57937;
}
.sidenav .navbar-nav .show .nav-link{
	color: #e57937;
}
.sidenav .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sidenav .navbar-nav .dropdown-menu {
    position: static !important;
    float: none;
    transform: none !important;
    background: #071b2b80;
    box-shadow: none;
    border: none;
}
.sidenav .navbar-nav .dropdown-item:focus, 
.sidenav .navbar-nav .dropdown-item:hover {
    text-decoration: none;
    background-color: transparent;
}
#wrapper .nav2 li a{
	text-transform: uppercase;
	font-size: 14px;
	color: #666;
}
#wrapper .nav2 li .fa{
	color: #addedc;
} 

.follnav li .fa{
	color: #addedc;
	font-size: 24px;
	transition: all 0.5s;
}
.follnav li .fa:hover{
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.menu .menupanel{
	font-size: 20px;
	display: flex;
	color: #e57937;
	text-transform: uppercase;
}
.menu .menupanel i{
	font-size: 28px;
	margin-right: 7px;
}

.sidenav .titleDiv{
  font-size: 20px;
  color: #fff;
  margin: 0;
  padding: 0px 25px;
  font-weight: 300;
  text-transform: uppercase;
  min-height: 64px;
  line-height: 64px;
}
.dashBtn a{
	font-size: 17px;
	display: flex;
	color: #e57937;
	text-transform: uppercase;
}
.dashBtn a i{
	font-size: 24px;
	margin-right: 7px;
}






/*== Filter Style ==*/

.filterpanel{
	margin: 0 0 20px;
}
.filterpanel .filtBtn{
	min-width: 150px;
	border-radius: 40px;
}
.searchPanel input{
}
#wrapper .searbtn{
    font-size: 20px;
    padding: 3px 10px;
}


#wrapper .rightFilt,
#wrapper .csvFile{
	display: flex;
}

#wrapper .csvFile{
    margin-left: 10px;
    background: #fff;
    border: none;
    border-radius: 40px;
    padding: 7px 20px;
    font-size: 13px;
    font-weight: 500;
}
#wrapper .csvFile:hover{
	color: #fff;
	background-color: #e57937;
}
.csvFile span{
	margin-right: 7px;
}
#wrapper .csvFile i{
	font-size: 20px;
}
.formPanelDiv .dropdown-menu.inner{
	max-height: 300px;
	overflow: auto;
}
.formPanelDiv .dropdown-menu.inner a{
	font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    border-bottom: dashed 1px #ddd;	
}







/*== Modal Fullscreen ==*/

.FullScreenModal .modal-dialog{
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	margin:0px;
}
.FullScreenModal .modal-content{
	border-radius: 0px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.FullScreenModal .modal-body{
	overflow: auto;
}
.FullScreenModal .modal-header{
	border-radius: 0px;
	background-color: #E57803;
    -ms-flex-align: center!important;
    align-items: center!important;	
    min-height: 90px;
}
.FullScreenModal .modal-header .modal-title{
	color: #fff;
}
#wrapper .FullScreenModal .close{
    font-weight: 400;
    font-size: 40px;
    margin: -8px 0 0;
    padding: 0;
    cursor: pointer;
}
.formPanelDiv {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;	
}
.formPanelDiv .form-group{
	position: relative;
	min-height: 95px;
	margin-bottom: 15px;
}
.formPanelDiv .form-control-plaintext{
	font-weight: 500;
}
#wrapper .clearData{
    position: absolute;
    right: 17px;
    bottom: 35px;
    margin: auto;
    cursor: pointer;
    color: #e57937;
    font-size: 24px;
    background: #fff;
}
.formPanelDiv label{
	font-size: 14px;
	color: #606F79;
	font-weight: 500;
	margin: 0;
	padding: 0; 
}
.formPanelDiv .form-control{
	color: #073251;
	height: 50px;
	padding: 5px 12px;
	font-size: 16px;
	border: solid 2px #ADB8BF60;
}
.formPanelDiv textarea.form-control{
	height: 67px;
}

#wrapper .FullScreenModal .bootstrap-select{
	width: 100%;
	display: block;
}
#wrapper .FullScreenModal .bootstrap-select .dropdown-toggle{
    display: block;
    width: 100%;
	height: 50px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 35px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
	border: solid 2px #ADB8BF60;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.formPanelDiv .form-control::-webkit-input-placeholder {
  color: #07325140;
}
.formPanelDiv .form-control:-ms-input-placeholder {
  color: #07325140;
}
.formPanelDiv .form-control::placeholder {
  color: #07325140;
}

.FullScreenModal .cancelBtn{
	min-width: 160px;
	height: 45px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
.FullScreenModal .applyBtn{
	min-width: 160px;
	height: 45px;
	border-radius: 4px;
	border: none;
	background-color: #73C700;
}
.ListDataDetails{
    margin-top: ;
}
.ListDataDetails .col,
.ListDataDetails .col-auto{
	min-height: 67px;
    line-height: normal;
}
.ListDataDetails small{
	display: block;
	font-size: 12px;
	color: #606F79;
}
.ListDataDetails span{
	display: block;
	font-size: 16px;
	color: #073251;
}




/*== Table Data View List ==*/

.myTableDate{
	width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0 10px; 	
}
.myTableDate tr th,
.myTableDate tr td{
	white-space: nowrap;
}

#wrapper .myTableDate tr th{
/*	font-weight: 600;
	font-size: 11px;
	padding: 15px 8px;	
	background-color: #ADB8BF;
*/
	padding: 0;
}
#wrapper .myTableDate tr td {
	padding: 13px 8px;
	font-size: 12px;
	font-weight: 500;
    display: table-cell;
    vertical-align: inherit;
    white-space: nowrap;
	background-color: #fff;
	border-bottom: solid 2px #ddd;	
}
#wrapper .myTableDate tr th:nth-child(1),
#wrapper .myTableDate tr td:nth-child(1){
	border-radius: 10px 0px 0px 10px;
	padding-left: 10px;
}
#wrapper .myTableDate tr th:nth-last-child(1),
#wrapper .myTableDate tr td:nth-last-child(1){
	border-radius: 0px 10px 10px 0px;
	padding-right: 10px;
}
.myTableDate .moreInfo .zmdi{
	color: #333333;
	font-size: 11px;
	margin-left: 2px;
}
.myTableDate .moreInfo:hover .zmdi{
	color: #e57937;
}

.scrollableContainer {
    height: 600px;
    position: relative;
    padding-top: 35px;
    overflow: hidden;
    border:none;
    display: none;
}
.scrollableContainer .headerSpacer {
    border: 1px solid #d5d5d5;
    border-bottom-color: #bbb;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #adb8bf;
}
.scrollArea {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
}
.scrollArea table {
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 0;
    width: 100%;
    border: none;
    border-collapse: separate;
}
.scrollArea table .th-inner {
    text-overflow: ellipsis;
    white-space: normal;
    position: absolute;
    top: 0;
    height: 50px;
    word-wrap: break-word;
	font-weight: 600;
    font-size: 11px;
	padding: 13px 8px;
	
}




.dataViewPanel{
    width: 100vh;
    min-width: 100%;
    position: relative;
    overflow-x: scroll;
    margin: auto;
}
.dataViewPanel .TablescrollableContainer {
    height: 70vh;
    position: relative;
    overflow: hidden;
    border:none;
}
.dataViewPanel .headerSpacer {
    border: 1px solid #d5d5d5;
    border-bottom-color: #bbb;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #adb8bf;
    display: none;
}
.dataViewPanel .dataListTable {
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 0;
    width: 100%;
    border: none;
    border-collapse: separate;
}
.dataViewPanel .scrollArea {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
}
.dataViewPanel .scrollArea {
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 0;
    width: 100%;
    border: none;
    border-collapse: separate;
}
.dataViewPanel .scrollArea .datahead li {
    text-overflow: ellipsis;
    white-space: nowrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 50px;
    word-wrap: break-word;
	font-weight: 600;
    font-size: 11px;
	padding: 13px 8px;
	
}
.dataListTable{
    border:none;	
	width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0 10px; 
}
#wrapper .dataListTable .datahead li{
	font-weight: 600;
	font-size: 11px;
	padding: 15px 8px;	
	background-color: #ADB8BF;
}
#wrapper .dataListTable .datahead li:nth-child(1),
#wrapper .dataListTable .dataBody li:nth-child(1){
	border-radius: 10px 0px 0px 10px;
	padding-left: 10px;
}
#wrapper .dataListTable .datahead li:nth-last-child(1),
#wrapper .dataListTable .dataBody li:nth-last-child(1){
	border-radius: 0px 10px 10px 0px;
	padding-right: 10px;
}
.dataListTable .tablehead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;	
}
.dataListTable .tablebody {
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.dataListTable .datahead{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.dataListTable .dataBody{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;	
}
.dataListTable .datahead li,
.dataListTable .dataBody li {
	padding: 13px 8px;
	font-size: 12px;
	font-weight: 500;
    display: table-cell;
    vertical-align: inherit;
    white-space: nowrap;
	background-color: #fff;
	border-bottom: solid 2px #ddd;	
}
.dataListTable .moreInfo .zmdi{
	color: #333333;
	font-size: 11px;
	margin-left: 2px;
}
.dataListTable .moreInfo:hover .zmdi{
	color: #e57937;
}

.ListDataDetails .nav-tabs{
	border: solid 2px transparent;
}
.ListDataDetails .nav-tabs li .nav-link{
    color: #606F79;
    border: none;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 30px;
}
.ListDataDetails .nav-tabs .nav-item.show .nav-link, 
.ListDataDetails .nav-tabs .nav-link.active{
	color: #073251;
	border-bottom: solid 2px #1592E6;
}

.ListDataDetails .tab-content{
	width: 100%;
	display: block;
	padding: 30px 0 20px;
}
.form-group .imgbox{
	display: block;
}
.form-group .imgbox img{
	width: 80px;
	height: auto;
}

.htitle{
	font-size: 17px;
}



/* file upload */
.ListDataDetails .box{
	width: 100%;
	min-width: 100%;
}
.ListDataDetails .box .col,
.ListDataDetails .box .col-auto{
    min-height: inherit;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    min-width: 100%;
    height: 67px;
    border-radius: 4px;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    padding: 20px 10px;
    /* 10px 20px */
}

.inputfile + label {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #fff;
    font-weight: 500;
    border: solid 2px #aab5bb;
    background-color: #ADB8BF;
}
.inputfile-1 + label span{
	color: #fff;
}
.inputfile-1 + label .overf{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}  
.inputfile-1 + label .col,
.inputfile-1 + label .col-auto{
	margin: 0;
}
.inputfile-1 + label span i{
	font-size: 30px;
}
.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #aab5bb;
}


/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}

























